beautifulsoup4
future
geocoder
geographiclib
geopy
google-api-python-client
google-auth
google-auth-oauthlib
hurry
more-itertools
MouseInfo
numpy
Pillow
pytz
PyAutoGUI
pyjokes
PyQt5
psutil
pyttsx3
pywhatkit
requests
selenium
wheel
SpeechRecognition
urllib3
wikipedia
wolframalpha
PyAudio-0.2.11-cp311-cp311-win_amd64.whl
lxml-4.9.0-cp311-cp311-win_amd64.whl

